name: "Check milestones on PR"

on:
  issues:
    types:
      - milestoned
      - demilestoned
  pull_request_target:
    types: [opened, reopened]

jobs:
  check_milestone:
    name: "Check milestone"
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request || github.event.pull_request }}
    steps:
      - name: "Check for milestone on PR"
        uses: actions/github-script@v7
        with:
          script: |
            console.log(context);


            let milestone = null
            if(context.eventName === "pull_request_target") {
                let pr_number = context.payload.pull_request.number;
                milestone = context.payload.pull_request.milestone;
                console.log(`PR TARGET Milestone ${milestone}`);
            } else if(context.eventName === "issues" && "pull_request" in context.payload.issue) {
                let pr_number = context.payload.issue.number;
                milestone = context.payload.issue.milestone;
            }

            console.log(`Milestone is ${milestone.title}`);

            // conosl.

            let pr = github.rest.pulls.get({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: pr_number
            });

            // if(milestone === null) {
            //     core.setFailed("No milestone set on PR");
            // }

