name: "Check milestones on PR"

on:
  issues:
    types:
      - milestoned
      - demilestoned
  pull_request_target:
    types: [opened, reopened]

jobs:
  check_milestone:
    name: "Check milestone"
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request || github.event.pull_request }}
    steps:
      - name: "Check for milestone on PR"
        uses: actions/github-script@v7
        with:
          script: |

            console.log(`Milestone is ${context.payload.issue.milestone.title}`);

            let pr_number = context.payload.issue.number;
            let pr = github.rest.pulls.get({
                owner: context.repo.owner
                repo: context.repo.owner
                pull_number: pr_number
            });

            if(context.payload.issue.milestone === null) {
                core.setFailed("No milestone set on PR");
            }

            console.log(context);
